	{% include 'head.html' %}
		<form action="/organize/index.php/sign_in" method="post">
			<fieldset>
				<legend>Log In</legend>
				<label>
					User ID :
					<input type="text" name="username" placeholder="Enter Username" required/>
				</label>
				<br/><br/>
				<label>
					Password :
					<input type="password" name="password" placeholder="Enter Password" required/>
				</label>
				<br/><br/>
				<input type="Submit" value="Log In"/>
				<a href="register">Register</a>
			</fieldset>
		</form>
		{% if message is defined %}
			{{message}}	
		{% endif %}
	{% include 'footer.html' %}