@import 'typography';
@import 'mixins';

$wrap-background : rgba(256,256,256,1);
$form-background : rgba(255,255,255,0.8);
$primary-color: rgb(49,49,49);
$secondary-color: rgb(69,69,69);
$alternate-color: rgb(0,0,0); 
